/* Alex Tetervak, Sheridan College, Ontario */

body{
    padding-left: 1em;
    font-family: sans-serif;
}

main{
    padding-left: 1em;
}

h2 {
    color: #00bcd4;
}

.total_label{
    color: #673ab7;
    font-size: larger;
    font-weight: bolder;
}

.total_number{
    font-size: larger;
    font-weight: bolder;
    color: #ff9800;
}

input[type="submit"] {
    width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
